{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-04-21T06:45:10.956165Z",
     "start_time": "2025-04-21T06:45:10.952956Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import seaborn as sns\n",
    "import matplotlib.image as img\n",
    "import matplotlib.pyplot as plt"
   ],
   "outputs": [],
   "execution_count": 1
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-04-21T06:51:37.621060Z",
     "start_time": "2025-04-21T06:51:37.447012Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_log = pd.read_csv('sinr_drop_log.csv')\n",
    "df_log.head()"
   ],
   "id": "d7a803878d1185bb",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   30.325775943949    17.745  aodv::Rreq  148  326  669.277  692.556  0\n",
       "0        30.325776   6.99637  aodv::Rreq  148  515  699.390  698.578  0\n",
       "1        30.325776   7.83133  aodv::Rreq  148  169  677.437  717.805  0\n",
       "2        30.325776   5.16091  aodv::Rreq  148  578  714.000  692.000  0\n",
       "3        30.325776  10.00780  aodv::Rreq  148  471  660.090  550.849  0\n",
       "4        30.325776  15.02750  aodv::Rreq  148  269  551.208  620.630  0"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>30.325775943949</th>\n",
       "      <th>17.745</th>\n",
       "      <th>aodv::Rreq</th>\n",
       "      <th>148</th>\n",
       "      <th>326</th>\n",
       "      <th>669.277</th>\n",
       "      <th>692.556</th>\n",
       "      <th>0</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>6.99637</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>515</td>\n",
       "      <td>699.390</td>\n",
       "      <td>698.578</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>7.83133</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>169</td>\n",
       "      <td>677.437</td>\n",
       "      <td>717.805</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>5.16091</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>578</td>\n",
       "      <td>714.000</td>\n",
       "      <td>692.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>10.00780</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>471</td>\n",
       "      <td>660.090</td>\n",
       "      <td>550.849</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>15.02750</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>269</td>\n",
       "      <td>551.208</td>\n",
       "      <td>620.630</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 15
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-04-21T06:51:39.246765Z",
     "start_time": "2025-04-21T06:51:39.239203Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_log.columns = ['Time', 'SINR', 'Packet', 'Rx', 'Tx', 'x', 'a', 'z']\n",
    "df_log.head()"
   ],
   "id": "8e7780d76b96df1d",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        Time      SINR      Packet   Rx   Tx        x        a  z\n",
       "0  30.325776   6.99637  aodv::Rreq  148  515  699.390  698.578  0\n",
       "1  30.325776   7.83133  aodv::Rreq  148  169  677.437  717.805  0\n",
       "2  30.325776   5.16091  aodv::Rreq  148  578  714.000  692.000  0\n",
       "3  30.325776  10.00780  aodv::Rreq  148  471  660.090  550.849  0\n",
       "4  30.325776  15.02750  aodv::Rreq  148  269  551.208  620.630  0"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Time</th>\n",
       "      <th>SINR</th>\n",
       "      <th>Packet</th>\n",
       "      <th>Rx</th>\n",
       "      <th>Tx</th>\n",
       "      <th>x</th>\n",
       "      <th>a</th>\n",
       "      <th>z</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>6.99637</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>515</td>\n",
       "      <td>699.390</td>\n",
       "      <td>698.578</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>7.83133</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>169</td>\n",
       "      <td>677.437</td>\n",
       "      <td>717.805</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>5.16091</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>578</td>\n",
       "      <td>714.000</td>\n",
       "      <td>692.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>10.00780</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>471</td>\n",
       "      <td>660.090</td>\n",
       "      <td>550.849</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>15.02750</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>269</td>\n",
       "      <td>551.208</td>\n",
       "      <td>620.630</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 16,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 16
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-04-21T06:51:41.206070Z",
     "start_time": "2025-04-21T06:51:41.199804Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_log.rename(columns={'Rx':'Tx_ID', 'Tx':'Rx_ID', 'a' : 'y'}, inplace=True)\n",
    "df_log.head()"
   ],
   "id": "86116dab88d5f3f5",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "        Time      SINR      Packet  Tx_ID  Rx_ID        x        y  z\n",
       "0  30.325776   6.99637  aodv::Rreq    148    515  699.390  698.578  0\n",
       "1  30.325776   7.83133  aodv::Rreq    148    169  677.437  717.805  0\n",
       "2  30.325776   5.16091  aodv::Rreq    148    578  714.000  692.000  0\n",
       "3  30.325776  10.00780  aodv::Rreq    148    471  660.090  550.849  0\n",
       "4  30.325776  15.02750  aodv::Rreq    148    269  551.208  620.630  0"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Time</th>\n",
       "      <th>SINR</th>\n",
       "      <th>Packet</th>\n",
       "      <th>Tx_ID</th>\n",
       "      <th>Rx_ID</th>\n",
       "      <th>x</th>\n",
       "      <th>y</th>\n",
       "      <th>z</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>6.99637</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>515</td>\n",
       "      <td>699.390</td>\n",
       "      <td>698.578</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>7.83133</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>169</td>\n",
       "      <td>677.437</td>\n",
       "      <td>717.805</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>5.16091</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>578</td>\n",
       "      <td>714.000</td>\n",
       "      <td>692.000</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>10.00780</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>471</td>\n",
       "      <td>660.090</td>\n",
       "      <td>550.849</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>30.325776</td>\n",
       "      <td>15.02750</td>\n",
       "      <td>aodv::Rreq</td>\n",
       "      <td>148</td>\n",
       "      <td>269</td>\n",
       "      <td>551.208</td>\n",
       "      <td>620.630</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 17
  },
  {
   "metadata": {
    "ExecuteTime": {
    }
   },
   "cell_type": "code",
   "source": [
    "node_freq = {}\n",
    "\n",
    "for tx, x, y in df_log[['Tx_ID', 'x', 'y']].values :\n",
    "    if node_freq.get(tx) is None :\n",
    "        node_freq[tx] = [1, {0 : [float(x), float(y)]}]\n",
    "    else :\n",
    "        node_freq[tx][1][node_freq[tx][0]] = [float(x), float(y)]\n",
    "        node_freq[tx][0] += 1\n",
    "\n",
    "plt.figure(figsize=(10,10))\n",
    "bg = img.imread('background.png')\n",
    "plt.imshow(bg, extent=(0,1500,0,1400), origin='lower')\n",
    "\n",
    "for i in node_freq.keys() :\n",
    "    plt.scatter([float(v[0]) for v in node_freq.get(i)[1].values()], [float(v[1]) for v in node_freq.get(i)[1].values()])\n",
    "\n",
    "plt.show()"
   ],
   "id": "d517406789a4b19b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Figure size 1000x1000 with 1 Axes>"
      ],
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
  },
  {
   "metadata": {},
   "cell_type": "code",
   "outputs": [],
   "execution_count": null,
   "source": "",
   "id": "73e3e2203747c81f"
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}