In [164]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [168]:
drop_log = pd.read_csv('1/sinr_drop_log.csv')
drop_log.head()
drop_log.columns = ['Time', 'SINR', 'Packet', 'Tx_ID', 'Rx_ID', 'X', 'Y', 'Z', 'None', 'Near', 'Total']

In [173]:
freq_df = drop_log[['Time', 'SINR', 'Packet', 'Tx_ID', 'Rx_ID', 'Near', 'Total']]
freq_df.head()

        Time      SINR      Packet  Tx_ID  Rx_ID  Near  Total
0  30.004567   5.92589  aodv::Rreq     21    205     1    296
1  30.004567   8.38163  aodv::Rreq     21      5     1    296
2  30.004567  12.76240  aodv::Rreq     21    243     1    296
3  30.004567  10.25880  aodv::Rreq     21     18     1    296
4  30.004567   5.72366  aodv::Rreq     21     36     2    296

In [183]:
import pandas as pd

df = pd.read_csv("1/sinr_drop_log.csv", header=None, na_filter=False,
                 names=["Time", "SINR_MIN", "Packet", "TX_ID", "RX_ID",
                        "RX_X", "RX_Y", "RX_Z", "EMPTY", "Nearby", "Total"])

df["Packet"] = df["Packet"].astype(str).str.strip()

df_rreq = df[df["Packet"].str.contains("Rreq", case=False)]

grouped = df_rreq.groupby(["Nearby", "Total"]).size().reset_index(name="RREQ_Drop_Count")

grouped = grouped.sort_values(by="RREQ_Drop_Count", ascending=False)

print(grouped.to_string(index=False))

 Nearby  Total  RREQ_Drop_Count
      0     15           159109
      1     15            22321
      2     15             1903
      2    400             1745
      1    333             1572
      1    400             1523
      1    323             1493
      2    333             1396
      3    400             1245
      2    323             1217
      1    306             1087
      4    400             1057
      1    316              928
      3    333              886
      3    323              811
      2    316              764
      2    306              725
      0    323              683
      0    306              624
      0    400              618
      0    333              594
      3    306              554
      3    316              550
      0    316              470
      5    400              427
      1    296              372
      4    333              342
      6    400              338
      7    400              313
      4    306              270
      4    323              243
      0    296              233
      5    323              229
      5    316              217
      5    333              199
      5    306              193
      2    296              193
      6    333              178
      4    316              174
      3    296              140
      4    296              100
      6    323               75
      5    296               55
      6    316               52
      8    400               21
      9    400               16
      7    316               13
      6    306               10
      7    306               10
      0    365                9
      7    296                8
      2    365                8
      1    365                7
      3    365                1

In [190]:
import pandas as pd

df = pd.read_csv("sinr_drop_log-1.csv", header=None, na_filter=False,
                 names=["Time", "SINR_MIN", "Packet", "TX_ID", "RX_ID",
                        "RX_X", "RX_Y", "RX_Z", "EMPTY", "Nearby", "Total"])

df["Packet"] = df["Packet"].astype(str).str.strip()

df_rreq = df[df["Packet"].str.contains("Rreq", case=False)]

print("Total RREQ Drop Count:", len(df_rreq))

Total RREQ Drop Count: 8372

In [192]:
import pandas as pd

df = pd.read_csv("sinr_drop_log-2.csv", header=None, na_filter=False,
                 names=["Time", "SINR_MIN", "Packet", "TX_ID", "RX_ID",
                        "RX_X", "RX_Y", "RX_Z", "EMPTY", "Nearby", "Total"])

df["Packet"] = df["Packet"].astype(str).str.strip()

df_rreq = df[df["Packet"].str.contains("Rreq", case=False)]

print("Total RREQ Drop Count:", len(df_rreq))

Total RREQ Drop Count: 8372