In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_log = pd.read_csv('aodv_routing_log.csv')
df_log.head()

,Time,Node,Destination,Previous_LifeTime,New_LifeTime,Previous_NextHop,New_NextHop,Previous_HopCount,New_HopCount
0,30.003715,node[35],10.0.0.9,32.018917,35.523715,10.0.0.9,10.0.0.9,1,1
1,30.003715,node[265],10.0.0.9,32.827838,35.523715,10.0.0.9,10.0.0.9,1,1
2,30.003715,node[243],10.0.0.9,32.003715,35.523715,10.0.0.9,10.0.0.9,1,1
3,30.003715,node[130],10.0.0.9,32.796692,35.523715,10.0.0.9,10.0.0.9,1,1
4,30.003715,node[102],10.0.0.9,32.735502,35.523715,10.0.0.9,10.0.0.9,1,1

In [4]:
df_log.columns

Index(['Time', 'Node', 'Destination', 'Previous_LifeTime', 'New_LifeTime',
       'Previous_NextHop', 'New_NextHop', 'Previous_HopCount', 'New_HopCount'],
      dtype='object')