In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
file_path = 'aodv_routing_log_l.csv'
df = pd.read_csv(file_path)

In [5]:
df.head()

,Time,Node,Destination,Previous_LifeTime,New_LifeTime,Previous_NextHop,New_NextHop,Previous_HopCount,New_HopCount
0,30.004394,node[35],10.0.0.9,33.004394,35.524394,10.0.0.9,10.0.0.9,1,1
1,30.004394,node[265],10.0.0.9,33.004394,35.524394,10.0.0.9,10.0.0.9,1,1
2,30.004394,node[243],10.0.0.9,33.004394,35.524394,10.0.0.9,10.0.0.9,1,1
3,30.004394,node[130],10.0.0.9,33.004394,35.524394,10.0.0.9,10.0.0.9,1,1
4,30.004394,node[102],10.0.0.9,33.004394,35.524394,10.0.0.9,10.0.0.9,1,1

In [4]:
df['Time'] = pd.to_numeric(df['Time'])
df['Previous_LifeTime'] = pd.to_numeric(df['Previous_LifeTime'])
df['New_LifeTime'] = pd.to_numeric(df['New_LifeTime'])

In [ ]:
df['Node'] = df['Node'].apply(lambda x : int(re.search(r'\[()]')))